{% extends "header.html" %}

{% block title %}Reports{% endblock %}

{% block style %}
{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}

<h3>Second Harvest Food Data</h3>

<!--<div id="report">-->
    <iframe src="{{ url_for('static', filename='data/test_report.html') }}" frameborder="0" height="85%" width="100%"
    style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:85%;width:100%;position:fixed;top:90px;left:0px;right:0px;bottom:-90px;" >
    </iframe>
<!--</div>-->


<script>
$(document).ready(function() {
});

</script>
{% endblock %}
