{% extends "header.html" %}

{% block title %}Upload Data{% endblock %}

<!-- {% block head%}<script src=".//dropzone.js"></script>{% endblock %} -->

{% block style %}
.upload-drop-zone {
    color: #ccc;
    border: 9px dashed #d7d7d7;
    height: 50vh;
    margin-bottom: 20px;
    text-align: center;
    text-valign: center;
    margin-top: 40px;
}

#drop-zone {
	height:50vh;
    display: table;
    width: 100%;
}

#drop-zone span {
    vertical-align:middle;
    display: table-cell;
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

#upload-link {
    outline: none;
    padding: 5px;
    border: 0px;
    font-size: 24px;
    font-weight: bold;
    box-sizing: none;
    background-color: transparent;
    padding-top:0px;
    padding-right: 7px;
}

.btn-link{
    color: #6DB446;
}

.btn-link:hover{
    color: #55962d;
    text-decoration:none;
}

.guideline-box {
    background-color: #f2f2f2;
    padding: 40px 40px 40px 40px;
}

h4 {
    padding: 15px 0 0px 0;
}

{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}

<form action="/upload_file" method="post" enctype="multipart/form-data" id="upload-form">
    <div class="upload-drop-zone" id="drop-zone">
        <span>
            <i class="fa fa-upload fa-4x" style="color:lightgray;"></i>
            <br>
            <h3>
                <label class="btn btn-default btn-file btn-link" id="upload-link">Choose a file 
                    <input type="file" style="display: none;"></label>or drag it here</h3>
        </span>
    </div>
</form>

<div class="guideline-box">
    <h1>File Guidelines</h1>
    <p><h4>Upload only new data</h4>
        If your file contains previous data uploaded, the file will not merge properly.
        <h4>Consistent format</h4>
        Please make sure the file that you're uploading is in the same format as previous years.</p>
</div>


<script>
$("#files").on("change", fileSelection);

function fileSelection(e) {
    var files = e.target.files;
    alert(files);
}

</script>
{% endblock %}
